.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
font-family: fantasy;
background-color: #FF9933;
line-height: 2;
color: white;
}
#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #138808;
    color: white;
    text-align: center;
    line-height: 3;
}
#Home{
    font-family: Courier New;
}